
<div
  class="footer-block accordion-item grid__item footer-block--menu scroll-trigger animate--slide-in"
    data-cascade
    style="--animation-order: 3 ;"
>
  <h2 class="footer-block__heading inline-richtext">My Account</h2>
  <ul class="footer-block__details-content list-unstyled">
      <li class="m-2">
        <a
          href="https://www.google.com/maps/place/69+Glen+Osmond+Rd,+Eastwood+SA+5063,+Australia/@-34.943582,138.6185345,17z/data=!3m1!4b1!4m6!3m5!1s0x6ab0cebfcbb859a1:0x1c8c6fd62c855156!8m2!3d-34.9435864!4d138.6211094!16s%2Fg%2F11cp7dvmxg?coh=219816&entry=tts&g_ep=EgoyMDI0MDgwNS4wKgBIAVAD"
          class="link--text list-menu__item menu__item_bold link__text-none-decoration"
        >
          69 Glen Osmond Road, Eastwood
        </a>
        <a
          href="tel:08-8271-87444"
          class="link link--text list-menu__item list-menu__item--link menu__item_underlined"
        >
          08 8271 8444
        </a>
      </li>
      <li class="m-2">
        <a
          href="https://www.google.com/maps/place/374+Sir+Donald+Bradman+Dr,+Brooklyn+Park+SA+5032,+Australia/@-34.9321624,138.5407805,17z/data=!3m1!4b1!4m6!3m5!1s0x6ab0c575dba5dad3:0x5ce7b0b9db78195d!8m2!3d-34.9321668!4d138.5433554!16s%2Fg%2F11b8v5bfqz?entry=ttu"
          class="link--text list-menu__item menu__item_bold link__text-none-decoration"
        >
          374 Sir Donald Bradman Drive, Brooklyn Park
        </a>
        <a
          href="tel:08-8353-4261"
          class="link link--text list-menu__item list-menu__item--link menu__item_underlined"
        >
          08 8353 4261
        </a>
      </li>
      <li class="m-2">
        <p
          class="list-menu__item menu__item_bold menu__item_hover_none"
        >
          Open 7 Days
        </p>
        <p
          class="list-menu__item menu__item_hover_none"
        >
          <span class="menu__item_bold">Mon-Fri: </span> 9:00 am to 5:30 pm
        </p>
        <p
          class="list-menu__item menu__item_bold menu__item_hover_none"
        >
          <span class="menu__item_bold">Sat: </span> 9:00 am to 5:00 pm
        </p>
        <p
          class="list-menu__item menu__item_bold menu__item_hover_none"
        >
          <span class="menu__item_bold">Sun: </span> 11:00 am to 4:00 pm
        </p>
        <p
          class="list-menu__item menu__item_bold menu__item_hover_none"
        >
          <span class="menu__item_bold">Closed: </span> Public Holidays
        </p>
      </li>
    </ul>
  </div>