<div class="wishlist-icon" id={{ "wishlist-icon-" | append: product.id}}>
  <span class="svg-wrapper">{{ 'custom-heart-icon.svg' | inline_asset_content }}</span>
  <span class="hidden" id="product-id-for-wishlist">{{ product | json }}</span>
</div>